02-consuming-soap-start/src/main/mule/soapdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="738d0ae1-1d19-4ee2-b822-1600e6c46093" >
		<wsc:connection wsdlLocation="http://localhost:6060/soap/ws/products.wsdl" service="ProductServicePortService" port="ProductServicePortSoap11" address="http://localhost:6060/soap/ws" />
	</wsc:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="44e17420-8bb2-45b2-b3cc-ceb9fd1edd82" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="soapdemoFlow1" doc:id="abd1568e-401e-4ba5-81ab-8c66163ce558" >
		<http:listener doc:name="Listener" doc:id="4ee1acf8-fa11-47cf-80a5-b78aa982be74" config-ref="HTTP_Listener_config" path="/soap"/>
		<choice doc:name="Choice" doc:id="94db6e5b-2899-494e-8d87-3bbdce45c572" >
			<when expression="#[attributes.queryParams.productname == null]">
				<flow-ref doc:name="FlowReference" doc:id="0400321a-f9cf-415d-a2ca-4a0ca65aedf0" name="getallproductsFlow" />
			</when>
			<when expression="#[attributes.queryParams.productname != null]">
				<flow-ref doc:name="Flow Reference" doc:id="ce91f8e3-ab42-4538-a872-334f9a968b6d" name="getproductbyname"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="72ab6c7d-16d9-4cb1-89c3-092fc897b8b2" message="Invalid Request"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="getproductbyname" doc:id="657bd24b-2f91-4f7f-ace7-cfc7a2927646" >
		<parse-template doc:name="Parse Template" doc:id="5bd099ad-0b35-4737-9db9-022f0fe1fc63" location="getproductsbyname.xml"/>
		<wsc:consume operation="getProductsByName" doc:name="Consume" doc:id="46fee649-ced9-4e09-915e-08d6c583cd9e" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="f15e99f3-f02a-4a60-93a6-40fb58a7ac38" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
payload.body.getProductsByNameResponse]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getallproductsFlow" doc:id="a22095af-5862-4ebf-86a9-fd84776912c0" >
		<parse-template doc:name="Parse Template" doc:id="81b24a3f-eb66-4ecb-ae97-862323b0ef62" location="getallproducts.xml"/>
		<wsc:consume doc:name="Consume" doc:id="894e4038-7f86-42a8-b29e-2fa77b9d918c" config-ref="Web_Service_Consumer_Config" operation="getAllProducts"/>
		<ee:transform doc:name="Transform Message" doc:id="bef3f521-abe3-4ae4-acbe-181274580fcb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
payload.body.getAllProductsResponse]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="addproductFlow" doc:id="3a108333-dcf4-4401-b015-32392835ea23" >
		<parse-template doc:name="Parse Template" doc:id="3e02eb0a-fc11-43ce-802c-7fad2b49a9e5" location="addproduct.xml"/>
		<wsc:consume doc:name="Consume" doc:id="22c070c5-ab2a-46ca-a123-897e8cc2bb96" config-ref="Web_Service_Consumer_Config" operation="addProduct"/>
		<ee:transform doc:name="Transform Message" doc:id="c76eb327-77ba-451e-8f33-fc60feb9e0f2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.body.saddProductResponse]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
